*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: sans-serif;
    font-weight: 540;
}
.u1{
width: 100%;

}

.u1 label{
    width: 98.5%;
    border-bottom: 4px solid #DEDAD5;
    font-size: 25px;
    font-weight: 500;
}
.u1 p,label, strong{
    color: white;
}
.pad h4{
    font-weight: 550;
    color: #0C3866;
}
.pad h5{
    font-size: 17px;
    color: #E69A77;
}
.pad span{
    color: #878488;
}
.s{
    margin-left: 12px;
}

.pad{
    padding: 45px;
}
.pad1{
    padding: 25px;
}
.imag{
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border: 5px solid white;
}
.certificado{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
    border: 5px solid white;
}

h4{
    width: 98.5%;
    border-bottom: 4px solid #DEDAD5;
    color: #2D3039;
}

.ref div{
    width: 40.5%;
    border-bottom: 4px solid #DEDAD5;
    margin: 5px;
}

.banner {
    background-color: #0c0e27;
    background-color: #0c3866;
    color: white;
}
.banner-effect {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}